.bgad-1 {
    background-size: contain;
    height: 100px;
    margin: 0%;
    padding: 0%;
}

.active {
    background-color: #717171;
}

/* Fading animation */
.fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 2s;
}

@-webkit-keyframes fade {
    from {
        opacity: .8
    }

    to {
        opacity: 1
    }
}

@keyframes fade {
    from {
        opacity: .8
    }

    to {
        opacity: 1
    }
}

* {
    box-sizing: border-box;
}

body {
    font-family: Verdana, sans-serif;
}
/*.slideshow-container {
    max-width: 100%;
    position: relative;
}*/

#menubutton{

    display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 39.8471px;
position: absolute;
width: 184px;
height: 184px;
left: 675px;
top: 300px;

background: #F1F1F1;
box-shadow: 0px 48.051px 138.293px rgba(0, 0, 0, 0.36), 0px 20.0745px 57.7755px rgba(0, 0, 0, 0.258788), 0px 10.7328px 30.8895px rgba(0, 0, 0, 0.214599), 0px 6.01673px 17.3164px rgba(0, 0, 0, 0.18), 0px 3.19544px 9.19663px rgba(0, 0, 0, 0.145401), 0px 1.32969px 3.82692px rgba(0, 0, 0, 0.101212);
border-radius: 585.987px;
}
#menubuttonglow{
    display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 39.8471px;

position: absolute;
width: 184px;
height: 184px;
left: 628px;
top: 420px;

background: #FF0000;
filter: blur(200px);
border-radius: 585.987px;
}


#logo{
    position: absolute;
width: 298.02px;
height: 98.72px;
left: 66px;
top: 100px;
}


.bgad-1 img{
    width: 100%;
    height: 753%;
    object-fit: cover;
    margin: 0%;
    padding: 0%;
}